* {
  margin: 0;  /* 상하좌우 0px */
  padding: 0; /* 상하좌우 0px */
  box-sizing: border-box;
}

header {
  background-color: #100b1a;
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #574876;
}

nav {
  background-color: #1a1426;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  margin: 0px 15px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

body {
  background-color: #1a1426;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0px;
  border-top: 0.5px solid #574875;
}

h2 {
  font-weight: bold;
}

table {
  width: 50vw;
  border-collapse: collapse;
  border: 1px solid #574875;
}

th {
  border-bottom: 1px solid #574875;
  background-color: #574875;
  padding: 8px;
  text-align: left;
  color: white;
}

td {
  border-bottom: 1px solid #574875;
  padding: 8px;
}

.tmi-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tmi-card {
  border: 1px solid #2a1f3d;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #2a1f3d;
}

.tmi-card p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

.tmi-card strong {
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

.tmi-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

input {
  width: 300px;
  height: 40px;
  border: 1px solid #352c47;
  border-radius: 5px;
  background-color: #352c47;
  padding-left: 12px;
}

input::placeholder {
  color: #d2c5ed;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #574875;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #352c47;
}

footer {
  background-color: #0e0b14;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: #777;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #777;
  text-decoration: none;
  font-weight: bold;
}